/* css variables */ 
@import url(./partials/fonts.css);

/* css variables */ 
@import url(./partials/variables.css);

/* import global styling */ 
@import url(./partials/theme.css);




.section--banner h4{
  font-size: .9rem;
  line-height: 1.6;
}
.section--banner .site-buttons > div{
  margin: 1rem 0;
  min-height: 6rem;
}
.section--banner img,
.section--about img{
  margin-bottom: 2rem;
}




.section--about h2{
  margin-bottom: 2rem;
}
.section--about .subtitle{
  margin-top: 2rem;
}




.section--technologies .single-item{
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: .5rem;
  padding: .5rem;
}