





/* css variables */ 
@import url(./partials/variables.css);

/* css variables */ 
@import url(./partials/fonts.css);

/* import global styling */ 
@import url(./partials/utils.css);

/* import global styling */ 
@import url(./partials/theme.css);






.navbar{
  padding: 0;
}
.navbar-brand{
  margin-left: 1rem;

}
.navbar-brand-{
  font-family: cursive;
  font-weight: bold;
  border-radius: 50%;
  border: 1px solid #eee;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  margin: .5rem 1rem;
}
.navbar-brand *{
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  font-weight: 300;
}
.navbar-collapse{
  align-self: stretch;
  align-items: stretch;
}
.navbar-light .navbar-nav .nav-item{
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  transition: all .3s, color 0s;
}
.navbar-light .navbar-nav .nav-item:hover{
  background: var(--gradient-color);
  color: white;
  transition: all .3s, color 0s;
}
.navbar-light .navbar-nav .nav-item:hover a{
  color: white;
  transition: all .3s, color 0s;
}
@media (min-width: 893px){
  .navbar-light .navbar-nav .nav-item{
    justify-content: center;
  }
}








.section--banner h4{
  font-size: .9rem;
  line-height: 1.6;
}
.section--banner .site-buttons > div{
  margin: 1rem 0;
  min-height: 6rem;
}
.section--banner img,
.section--about img{
  margin-bottom: 2rem;
}
@media (min-width: 576px){
  .section--banner h1{
    font-size: 3.5rem;
  }
  .section--banner h2{
    font-size: 3rem;
  }
  .section--banner h4{
    font-size: 1.3rem;
  }
}







.section--about h2{
  margin-bottom: 2rem;
}
.section--about .subtitle{
  margin-top: 2rem;
}













.section--technologies .single-item{
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: .5rem;
  padding: .5rem;
  height: 10rem;
}
.section--technologies .technology-items .single-item:hover{
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}
.section--technologies .technology-items .single-item img{
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.section--technologies .technology-items .single-item:hover img{
  filter: brightness(0.15);
}
.section--technologies .subsection--experience{
  background-color: var(--primary-color-light);
  padding: 1.5rem;
  margin: 22px;
  margin-top: 3rem;
  min-height: 15rem;
}

.section--technologies .subsection--experience .cta-call,
.section--technologies .subsection--experience .years-of-experience{
  display: flex;
  align-items: flex-start;
}

.section--technologies .subsection--experience .years-of-experience *:first-child{
  font-size: 6rem;
  margin-right: .5rem;
  line-height: .8;
}

.section--technologies .subsection--experience .years-of-experience *:nth-child(2){
  font-size: 1.2rem;
  font-weight: bold;
}
.section--technologies .subsection--experience .cta-call *:first-child{
  margin-right: .5rem;
}
.section--technologies .subsection--experience .cta-call a{
  font-size: 1.3rem;
  font-weight: bold;
}

@media (min-width: 1080px){
  .section--technologies .subsection--experience{
    margin-top: 0;
    align-self: stretch;
  }
}
















.section--why-us .single-item{
  padding: 1rem;
  border: 1px solid #eee;
  margin-bottom: 3rem;
  height: calc(100% - 3rem);
}

.section--why-us .card{
  margin-bottom: 4rem;
}
.section--why-us .card .card-body{
  padding: .75rem;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}









.section--projects .card{
  margin-bottom: 3rem;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
.section--projects .card .card-body{
  padding: .75rem;
}
.section--projects .mix,
.section--projects .mix *{
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; 
}
.section--projects .mix{
  max-width: 400px;
  margin: 1rem auto;
}
.section--projects .card-meta .fa-user{
  margin-right: .5rem;
}
.section--projects .projects-selectors{
  text-align: center;
}
.section--projects .filter-control{
  padding: .1rem 1.5rem;
  margin-bottom: .2rem;
  border-radius: 4px;
  border: none;
  border: 1px solid #aaa;
  outline: none;
  background-color: #eaeaea;
}
.section--projects .filter-control:focus{
  outline: none;
}
.section--projects .filter-control.mixitup-control-active{
  background: var(--gradient-color);
  color: white;
  border: none;
  font-weight: bold;
}









.section--testimonials .testimony{
  border: 1px solid #eee;
  margin: 0;
  box-shadow: var(--box-shadow);
  margin: 3rem auto;
  max-width: 800px;

}
.section--testimonials .testimony-img-container{
  padding: 2rem;
}
.section--testimonials .testimony-img-container img{
  width: 100%;
} 

.testimony-text-container{
  padding: 1rem;
  padding-top: 2rem;
}
.testimony-text-container p{
  color: #777777;
  font-size: .9rem;
  font-weight: bold;
  line-height: 1.8;
}
.section--testimonials .carousel-indicators{
  align-items: center;
}
.section--testimonials .carousel-indicators li{
  background-color: var(--primary-color);
}
.section--testimonials .carousel-indicators li.active{
  height: 5px;
}
