.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.App .Pages {
    background: rgba(0, 0, 0, 0.1);
    /* padding-top: var(--nav-controls-height); */
    padding-left: 150px;
    /* width: calc(100vw - var(--nav-contents-width)); */
    /* height: calc(100vh - var(--nav-controls-height)); */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App .Pages .page {
    width: 90%;
    height: 90%;
    max-width: 1240px;
    background: rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: auto;
}

.App .Pages .page div {
    border: 1px solid rgba(0, 0, 0, 0.1);
}