body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.rotate-p270-scale-800 {
  -webkit-transform: rotate(270deg) scale(.8);
  -moz-transform: rotate(270deg) scale(.8);
  -o-transform: rotate(270deg) scale(.8);
  transform: rotate(270deg) scale(.8);
}

.hero .cta{
  max-width: 30rem;
}
.hero .hero-text{
  max-width: 40rem;
}