html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body *{
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; 
}

ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

.section{
  padding: 1rem;
  margin-right: 0; 
  margin-left: 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (min-width: 1300px){
  .section{
    margin-right: auto; 
    margin-left: auto;
    max-width: 80vw;
  }
}
.section.row{
  justify-content: center;
}

.section-title{
  text-transform: uppercase;
  text-align: center;
  background: -webkit-linear-gradient(var(--primary-color), var(--primary-color-alt));
  -clip: text;
  -background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2rem auto;
  margin-top: 4rem;
  font-weight: bold;
}

.section .section-subtitle{
  max-width: 800px;
  line-height: 1.8;
  margin: 0 auto;
}

.btn-primary{
  background: var(--gradient-color);
}
.btn-primary:hover{
 box-shadow: var(--box-shadow);
}
.btn-secondary{
  background: transparent;
  border-color: var(--primary-color-alt);
  color: var(--primary-color-alt);
}
.btn-secondary:hover{
  background: var(--gradient-color);
  color: white;
  box-shadow: var(--box-shadow);
}

/* .card-image-container{
  height: 15rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.card-image-container{
  height: 15rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}


.gradient-text{
  background: -webkit-linear-gradient(var(--primary-color), var(--primary-color-alt));
  -clip: text;
  -background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-primary{
  color: var(--primary-color);
}

