html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body *{
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; 
}

.section{
  padding: 1rem;
  margin-right: 0; 
  margin-left: 0;
}

