.App>#navbarNavAltMarkup {
    width: 150px;
    background: rgba(0, 0, 0, .1);
}

.App>#navbarNavAltMarkup .nav-item {
    height: 50px;
    background: rgba(0, 0, 0, .1);
    padding: .5em;
    margin-top: .1em;
}

.App>#navbarNavAltMarkup .nav-item:hover {
    background: rgba(0, 0, 0, .2);
}