.about-me {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
}

.about-me div {
    background: rgba(0, 0, 0, 0.1);
    /* width: 100%; */
    min-height: 50px;
}

.about-me {
    margin-left: 0;
}

.about-me.about-me--default {
    transform: scaleX(1) !important;
    margin-left: -100em;
}