.about-me {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
}

.about-me div {
    background: rgba(0, 0, 0, 0.1);
    /* width: 100%; */
    min-height: 50px;
}

.about-me .presentation div {
    min-height: 2.2em;
}

.about-me {
    margin-left: 0;
}

.about-me.about-me--default {
    transform: scaleX(1) !important;
    margin-left: 100em;
}

.about-me .media-icons-container>div {
    --side: 2em;
    font-size: 1.2em;
    margin-right: .3em;
    width: var(--side);
    height: var(--side);
    min-height: var(--side);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}